package views

templ IndexPage() {
	@html("Woody Wood Gate") {
		<p>
			Bienvenue sur le badge de portail connecté de la résidence Woody Wood.
			<br/>
			<br/>
			<a href={ templ.URL("/login") }>Veuillez vous connecter pour accéder à votre compte.</a>
		</p>
	}
}
