{{ block "reloader" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color: red;
      transition: background-color 1s;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <script>
    setTimeout(() => {
      window.location.reload();
      document.body.style.backgroundColor = "white";
    }, 10)
  </script>
</body>

</html>
{{ end }}